@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html{
    background-color: #343434;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 95%;
    height: 100%
}

#header{
    width: inherit;
    height: auto;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}

#header button, h1, a{
    display: inline-block;
    vertical-align: middle;
}
#header h1{
    margin-left: 20px;
    margin-right: 20px;
}
#header button{
    background: #0461db;
    margin-left: 3%;
    border: none;
    border-radius: 10px;
    transition-duration: 300ms;
    width: 20%;
    height: 50px;
    color: white;
    font-size: 20px;
}
#header button:active{
    background: #6aaaff;
    transition-duration: 100ms;
}
#header a{
    margin-left: 5%;
}
table{
    border: 1px solid white;
    background-color: white;
    width: inherit;
    align-self: center;
    margin: auto;
}
thead{
    border: 1px solid white;
    background-color:#343434;
}
tbody{
    border: 1px solid white;
    background-color:#343434;
}
tr{
    border: 1px solid white;
    background-color:#343434;
}
td{
    text-align: center;
    border: 1px solid white;
    background-color:#343434;
}
input[type=text]{
    border: none;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background: none;
    border-bottom: 2px solid #ffffff;
    width: 90%;
}
input[type=date]{
    border: none;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background: none;
    border-bottom: 2px solid #ffffff;
    width: 90%;
    text-align: center;
}

input[type=date]::-webkit-calendar-picker-indicator{
    filter: invert(1)
}
a{
    color: #ffffff;
    font-style: none;
    text-decoration: none;
    transition-duration: 300ms;
}
a:hover{
    color: #3b4ddb;
    transition-duration: 300ms;
}

#close{
    font-size: 30px;
}
#notes{
    height: 500px;
    max-height: 500px;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    resize: none;
}
textarea{
    background: #343434;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

#timeline{
    height: 100%;
    width: 90%;
}

#tasks{
    height: 75%;
    width: 95%;
    position: absolute;
    left: 2.75%;
    transform:rotate(180deg) scaleX(-1);
}
.task{
    width: 99%;
    border: 2px solid #000000;
    position: relative;
    bottom: 5px;
    margin-top: 5%;
}
#task1{
    border-color: #0461db;
}
#task2{
    border-color: #ff0000;
    width: 99%;
    left: 0%
}
#dates{
    top: 90%;
    height: 10%;
    width: 95%;
    position: absolute;
    align-self: baseline;
    align-items: center;
    left: 3%;
}
#days{
    top: 93%;
    height: 7%;
    width: 95%;
    position: absolute;
    align-self: baseline;
    align-items: center;
    left: 3%;
}
#days div{
    display: inline-block;
}
#sun{
    margin-left: 5.8%;
}
#mon{
    margin-left: 11.5%;
}
#tue{
    margin-left: 11.5%;
}
#wed{
    margin-left: 11.5%;
}
#thu{
    margin-left: 11.5%;
}
#fri{
    margin-left: 12.1%;
}
#sat{
    margin-left: 12.2%;
}
.line{
    width: 99%;
    border: 2px solid #ffffff;
    position: absolute;
    transform: translateY(10px);
    left: -0.25%;
}
.dot{
    border-radius: 100px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 5px solid #343434;
    color: #000000;
    position: relative;
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%
}
  
.dot .tooltiptext {
    width: 75px;
    font-size: 12px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -38px;
    transform: translateY(60px);
    transition-duration: 300ms;
    opacity: 0;
}

.dot .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.dot:hover .tooltiptext {
    transition-duration: 300ms;
    opacity: 1;
}